[submodule "lib/mg.sh"]
	path = lib/mg.sh
	url = git@github.com:Mitigram/mg.sh.git
[submodule "lib/bininstall"]
	path = lib/bininstall
	url = git@github.com:efrecon/bininstall.git
[submodule "hooks/reg-tags"]
	path = hooks/reg-tags
	url = git@github.com:efrecon/reg-tags.git
